body {
    background: black;
}

.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.form-control {
    display: inline-block;
    /*width: 50%;*/
    padding: 9px 5px 7px;
    background: black;
    border: 2px solid rgb(117, 204, 245);
    border-radius: 15px;
    color: yellow;
    text-align: center;
}

.color-form {
    display: inline-block;
    width: 100px;
}

.btn {
    border-width: 2px;
    padding-bottom: 9px;
}

.btn-minus {
    display: inline-block;
    /*width: 10%;  */
    margin-bottom: 3px;
    /*float: right;*/
    border-radius: 15px;
    background: radial-gradient(red, black)
}

.btn-plus {
    display: inline-block;
    /*width: 10%;  */
    margin-bottom: 3px;
    /*float: right;*/
    border-radius: 15px;
    border-color: green;
    background: radial-gradient(green, black)
}

.id-num {
    color: red;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8px;
    font-weight: bold;
}

.dock {
    /*background-color: limegreen;*/
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px white;
    border: 2px solid rgb(117, 204, 245);
    border-radius: 20px;
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);*/
    box-shadow: 0px 0px 50px rgba(117, 204, 245, 0.644);
}

.dock-empty {
    /*background-color: red;*/
    background: radial-gradient(red, black)
}

.dock-full {
    background: radial-gradient(rgb(34, 241, 62), black);
}

.dock-new {
    background: radial-gradient(rgb(217, 233, 72), black);
}

.dock-clear {
    background: radial-gradient(rgb(198, 222, 248), black);
}

.sname {
    /*background-color: aquamarine;
    border-radius: 5px;*/
    color: wheat;
}

.sval {
    /*background-color: rgb(236, 219, 58);
    border-radius: 5px;
    border-color: black;
    border-width: 2px;*/
    color: white;
}

.sitem {
    border: 2px solid rgb(117, 204, 245);
    border-radius: 10px;
}

#state,
#content {
    background-color: black;
    border: 2px solid rgb(117, 204, 245);
    border-radius: 30px;
    box-shadow: 0 0px 20px rgba(117, 204, 245, 0.644);
    color: white;
}

.alert-warning {
    background-color: black;
    border: 2px solid rgb(117, 204, 245);
    border-radius: 10px;
    color: yellow;
    font-weight: bolder
}

.list-top {
    border: 2px solid rgb(117, 204, 245);
    border-radius: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    background: rgb(1, 73, 102)
}

.list {
    border: 2px solid rgb(117, 204, 245);
    border-radius: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
}

h1,
h2,
h3,
h4 {
    color: white;
}